#div-1{
    background-color:#868686;
    height: 400px;
    width: 350px;
}
#red{
    background-color: red;
    height: 100px;
    width: 150px;
}
#green{
    background-color: green;
    height: 100px;
    width: 300px;
}
#yellow{
    background-color: yellow;
    height: 100px;
    width: 150px;
}
