.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    min-height: 30px;
    border: 1px solid black;
    background-color: aliceblue;
}
.box div{
    font-size: 20px;
    margin: 10px;
    text-align: center;
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    line-height: 100px;
}