html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.h-container{
    background-color: rgb(115, 108, 108);
    letter-spacing: 0.25px ;
    line-height: 23.8px;
    font-size: 14px;
    height: 100px;
}

.wrapper{
    display: flex;
    width: 100%;
    background-color: rgb(115, 108, 108);
    align-items: center;
    justify-content: center;
    height: 150px;
    position: fixed;
    z-index: 100;
    top: 0;


}
header{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}
.header-left img{
    height: 40px;
    width: 160px;
    padding: 5px;
    
}
.header-left h3{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-weight: bold;
}
.header-left{
    display:block;

}
.header-middle{
    display: block;
    width: 500px;
}
span{
    font-size: 16px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.search-box{
    position: relative;
    background: #fff;
    height: 40px;
    width: 500px;
    padding: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border: 1px solid orangered;
}
.search-box input{
    background: none;
    border: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    width: 0px;
    transition: all 0.9s;
}
.search-box input:focus{
    width: 400px;
    padding: 0 6px;
}
.search-box:hover input{
    width: 400px;
    padding: 0 6px;
}
.search-button{
    float: right;
    width: 50px;
    height: 40px;
    border: none;
    background: rgba(0,0,0,0);
    background-color: orangered;
}

.h-right img{
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 15px;
    margin-top: 0px;
}
.h-right{
    display:flex;
    width: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: white;
}
.h-right a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.main-left{
    width:20%;
}
.middle-main{
    width: 60%;
    display: block;
    padding-top:20px ;
}
.slider{
    border: 10px solid white;
    box-shadow: 1px 1px 1px 5px rgb(219, 217, 217);    
}
.main{
    display: flex;
    flex-direction: row;
    background: url(//bizweb.dktcdn.net/100/365/442/themes/737549/assets/bg1.png?1656562257403);
    margin-top: 150px;
    padding-top: 5px;
    background-size: 100% auto;
    
}
.wrap-item table{
    padding-top: 20px ;
    background-color: white;
}
.item{
    padding: 5px;
}

.item-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.item img{
    width: 50px;
    height: 50px;
}